/* GENERAL PAGE */
	body
	{
		font-family: 'PT Sans', sans-serif;
		font-weight: 300;
		color: #404040;
		text-align: center;
	}

	article
	{
		position: relative;
	}

	pre
	{
		background: antiquewhite;
                word-wrap: normal;
	}

	.lost
	{
		padding-top: 10em;
		padding-bottom: 8em;
	}

	#content
	{
		padding-top: 1.8em;
	}

/* MENU */
	#menu
	{
		width: 100%;
		height: 3.8em;
		position: fixed;
		border-bottom: 1px solid #EEE;
		background: #FFF;
		z-index: 50;
        transition-property: margin;
        transition-duration: .5s;
	}

	#menu ul
	{
		display: inline-block;
		position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
		list-style: none;
	}

	#menu li
	{
		font-family: 'Lato', sans-serif;
		padding: .5em;
		float: left;
	}

	#menu li a, #menu li span
	{
		padding: .5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
	}

	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		color: 2B3F48;
	}

	#menu .current_page_item a
	{
		background: #CCC;
		color: #FFF;
		border-radius: 3px;
	}

/* PROFILE */
    #profile_wrapper
    {
        background-color: white;
        min-height: 28em;
		position: relative;
		z-index: 3;
    }

    .image_overlay
    {
        position: fixed;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
		z-index: -3;
		display: none;
    }

	#names
	{
		font-size: 5.2em;
		transition-property: font-size, margin;
		transition-duration: .4s;
		z-index: 100;
		margin-top: -2em;
	}

	#name_box
	{
		border-radius: 4px;
		min-width: 10px;
		font-weight: 300;
	}

	#social_bar
	{
		margin-top: 10px;
	}

	#social_bar img
	{
		height: 50px;
	}

	#first
	{
		letter-spacing: 2px;
		color: #1793D1;
		padding-right: 10px;
	}

	#last
	{
		color: #333;
	}

	#subtitle
	{
        display: block;
		margin-top: 10px;
		margin-left: -12px;
        color: #333;
		font-size: 1.8em;
		font-weight: 400;
		transition-property: font-size;
		transition-duration: .5s;
	}

	.profile_img
	{
		border: 1px solid #CCC;
		border-radius: 100px;
		height: 150px;
		position: relative;
		transition-property: opacity;
		transition-duration: .4s;
	}

	.small_show
	{
		opacity: 0;
		z-index: -2;
	}

	.small_hide
	{
		opacity: 1;
		z-index: inherit;
	}

/* CONTAINERS */
	.container
	{
		display: flex;
		display:-webkit-flex;
		display:-moz-flex;
		display:-ms-flexbox;
		padding-top: 2em;
		padding-bottom: 2em;
		margin-top: 2.5em;
		margin-bottom: 2.5em;
		margin-left: auto;
		margin-right: auto;
		max-width: 1000px;
		/*min-height: 25em;*/
		border-radius: 4px;
		transition-property: margin, width;
		transition-duration: .6s;
		width: 80%;
	}

	.container_title
	{
		font-family: "Lato", sans-serif;
        padding-bottom: 2em;
		display: flex;
		display:-webkit-flex;
		display:-moz-flex;
		display:-ms-flexbox;
		min-height: 19em;
		padding-left: 19%;
		padding-right: 19%;
        -webkit-padding-end: 19%;
        -webkit-padding-start: 19%;
		transition-property: height, padding;
		transition-duration: .3s;
	}

	.container_col
	{
		display: flex;
		display:-webkit-flex;
		display:-moz-flex;
		display:-ms-flexbox;
		flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		padding-left: 20%;
		padding-right: 20%;
        -webkit-padding-end: 20%;
        -webkit-padding-start: 20%;
	}

	.container_sub
	{
	  flex-grow: 1;
	  position: relative;
	  margin: auto;
	  width: 100%;
	}

	.container_center
	{
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%,-50%);
	  white-space: nowrap;
	}

/* LINES */
	.subline
	{
		width: 43em;
		margin-left: auto;
		margin-right: auto;
		text-align: justify;
	}

	.subline span
	{
		line-height: 1.7em;
	}

	.byline
	{
		text-transform: none;
		line-height: 1.5;
		font-size: 1.5em;
	}

	#banner .button
	{
		margin-top: 3em;
		background: #1793d1 !important;
		transition-property:padding;
		transition-duration:1.2s;

		/* Safari */
		-webkit-transition-property:padding;
		-webkit-transition-duration:1.2s;
		margin-right: 2.5em;
	}

	span
	{
		text-align: center;
    }

	h1
	{
		margin: 0;
		padding: 0;
		font-weight: 700;
		color: #253238;
	}

	h2
	{
		color: #2B3F48;
		font-family: 'PT Sans', sans-serif;
		text-align: left;
		margin-top: .85em;
        margin-bottom: .4em;
	}

	p, ol, ul
	{
		margin-top: 0;
	}

	ul
	{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	ul.actions
	{
		text-align: center;
	}

	p
	{
		line-height: 180%;
		font-size: 1.1em;
	}

	a
	{
		color: inherit;
		border: none;
	}

	a:hover
	{
		text-decoration: none;
	}

	.paragraph_wrapper
	{
		text-align: justify !important;
		padding: 2em;
		width: 55%;
		margin-left: auto;
		margin-right: auto;
		font-family: 'PT Sans', sans-serif;
		transition-property:width;
		transition-duration:.5s;
	}

	.paragraph_wrapper p
	{
		color: #1E1E1E;
		font-size: 1.2em;
	}

/*Button Style*/
	.button
	{
		display: inline-block;
		padding: 0em 3em;
		background: rgba(255, 255, 255, 0);
		border: 1px solid;
		border-color: rgba(0, 0, 0, 0.23);
		transition-property: border-color, background;
		transition-duration: 1s;
		letter-spacing: 0.20em;
		line-height: 4em;
		text-decoration: none;
		font-family: 'PT Sans', sans-serif;;
		font-weight: 400;
		font-size: 1em;
		color: #333;
		text-align: center;
		white-space: nowrap;
		font-size: medium;
		border-radius: 2px;
	}

	.button:hover
	{
		border-color: rgb(132, 132, 132);
		background: rgb(242, 242, 242);
	}

	.button:before
	{
		display: inline-block;
		background: #FFC31F;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}

	#back_button
	{
		margin: 6em 0 6em 0;
	}

	.posts_button
	{
		margin-top: 4em;
	}

	#form_button
	{
		margin-top: 3em;
	}

	form
	{
		text-align: center;
	}

	.form_section
	{
		width: 35em;
		margin-left: auto;
		margin-right: auto;
		padding-right: 3.5em;
		padding-left: 3.5em;
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: left;
		transition-property: min-height, width;
		transition-duration: .35s;
	}

	.form_sub
	{
		width: 100%;
		height: 6.5em;
		padding-top: .5em;
		padding-bottom: .5em;
		display: inline-block;
		transition-property: padding;
		transition-duration: .35s;
	}

	.form_section span
	{
		font-size: 2em;
	}

	.form_section textarea
	{
		line-height: .5em;
		font-size: 1.3em;
		padding-left: 16px;
		padding-right: 4px;
		padding-top: 18px;
		padding-bottom: 9px;
		margin-top: 1.3em;
		width: 12em;
		resize: none;
		float: right;
		border-radius: 4px;
		white-space: nowrap;
		overflow: hidden;

	}

	.form_section img
	{
		margin-bottom: -2em;
		margin-right: 2em;
		height: 70px;
		padding-left: 0;
		padding-right: 0;
	}

	.form_sub .feedback_title
	{
		margin-left: auto;
		margin-right: auto;
	}

	.form_section .lginput
	{
		//specific things for large input field
	}

	.button input
	{
		background: none;
		color: white;
		font-family: 'PT Sans', sans-serif;
		border: none;
	}

/* LIST BOX */
	#list_box
	{
		width: 100%;
		overflow: hidden;
		text-align: center;
		padding-bottom: 1em;
	}

	#list_box ul
	{
		display: inline-block;
		list-style: circle;
		margin-bottom: 0;
		border: 1px solid #CCC;
		border-radius: 8px;
	}

	#list_box li
	{
		display: inline-block;
		text-align: center;
		padding: 1em .5em 1em .5em;
		position: relative;
		float: left;
		font-size: 1.7em;
	}

	#wrapper
	{
		width: 100%;
		position: relative;
		box-shadow: 0px 4px 15px #181818;
	}

    .rest_wrapper
    {
        background: #FFF;
		margin-top: -2em;
		padding-top: 2em;
		padding-bottom: 2em;
		position: relative;
		z-index: 4;
		transition-property: margin-left, padding;
		transition-duration: 1s;
    }

	#spacer
	{
		height: 17.5em;
		background-color: transparent;
	}

/*Logos*/
	#logo
	{
		position: absolute;
		left: 1.5em;
		top: .7em;
		transition-property: display;
		transition-duration: 1.2s;

		/* Safari */
		-webkit-transition-property: display;
		-webkit-transition-duration: 1.2s;
		margin-right: 2.5em;
	}
	#logo2
	{
		border-radius: 4px;
		height: 55px;
	}

/*Social,Contact*/
	#soc_icon_box
	{
		padding-top: 1.25em;
	}

	.soc_group
	{
		display: inline-block;
		transition-property: display;
		transition-duration: .3s;
	}

	.soc_icon
	{
		height: 75px;
		margin: 1em;
		border-radius: 100px;
		transition-property: height;
		transition-duration: .3s;
	}

	.soc_sub
	{
		display: inline-block;
	}

/* Creative Commons */
	.CC_icons
	{
		height:125px;
		width: auto;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		padding: 1em;
		transition-property: height;
		transition-duration: .3s;
	}

	.strikeout
	{
		text-decoration: line-through;
	}

/* FOOTER*/
	#footer
	{
        color: gainsboro;
		padding-bottom: 2.5em;
		font-family: 'PT Sans', sans-serif;
		text-align: center;
		width: 100%;
		height: 200px;
		position: fixed;
		left: 0px;
		right: 0px;
		bottom: 0px;
		z-index: 0;
	}

	#footer a
	{
		text-decoration: none;
	}

	#footer a:hover
	{
		text-decoration: underline;
	}

	#footer li
	{
		margin-bottom: 2px;
	}

	#footer h4
	{
		margin-top: 0;
		margin-bottom: .5em;
	}

	#site_license
	{
		color: #555;
		position: absolute;
		right: 15px;
		bottom: 3px;
	}

	.footer_icon
	{
		height: 48px;
		border-radius: 4px;
		padding: 10px;
	}

	#footer_infos
	{
		width: 100%;
		text-align: center;
	}

	#footer_cols
	{
		width: 23em;
		margin: 0 auto;
		height: 186.5px;
		padding: 1em;
		border-radius: 4px;
	}

	.nav_col
	{
		float:left;
		text-align: left;
		margin-left: 1em;
		margin-right: 1em;
		font-size: 1.2em;

	}

	.nav_col h4
	{
		font-weight: bold;
	}

	.selected
	{
		font-weight: bold;
		border-top-style: solid!important;
		border-top-color: #1793d1!important;
		border-bottom-style: solid!important;
		border-bottom-color: #1793d1!important;
		border-width: 2px;
	}


/* CREDITS PAGE */
	.credit_txt
	{
		text-align: center;
		font-size: 4em;
		text-decoration: none;
		transition-property: font-size;
		transition-duration: .3s;
	}

	#credits_wrapper
	{
		margin-top: 5em;
	}

	#credits_wrapper .container_col .container
	{
		padding-left: 10%;
		padding-right: 10%;
		margin-top: 0;
	}

	#credits_wrapper .container a
	{
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  white-space: nowrap;

	}

	#credits_wrapper .subline
	{
		width: initial;
	}

	#credits_wrapper .subline span
	{
		line-height: 1.3em;
	}

	#credits_wrapper .container
	{
		border-bottom: 1px solid #CCC;
		border-radius: 0;
	}

	.credit_img img
	{
		height: 150px;
		display: inline;
		transition-property: height;
		transition-duration: .3s;
	}

/* EXPERIENCE */
	#experience_wrapper > .byline
	{
		color: #1793D1;
	}

	.experience_img
	{
		border-radius: 100px;
		display: block;
		height: 50px;
		margin: 15px;
		transition-property:width,height,margin,padding,border,opacity,display;
		transition-duration:.99s;
	}

	#cv
	{
		border-radius: 8px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1em;
		font-family: 'PT Sans', sans-serif;
		text-align: left;
		width: 80%;
		padding: .5em;
		transition-property: width;
		transition-duration: .3s;
	}

	#cv span
	{
		font-size: 1.2em;
	}

	#cv h2
	{
		text-decoration: underline;
	}

	#cv h3
	{
		margin-bottom: 0;
	}

	#cv p
	{
		font-size: 1.1em;
		text-align: justify;
	}

	#pumpkin
	{
		color: #fca311;
		text-decoration: none;
	}

	.BU
	{
		color: #CC0000;
		text-decoration: none;
	}

  	#orbital
	{
		color: #0E78A9;
		text-decoration: none;
	}

	#until
	{
		color: #333;
		text-decoration: none;
	}

	#hatman
	{
		position: absolute;
		top: 3em;
		left: -3em;
		height: auto;
		width: auto;
		max-height: 32em;
	}

	.sub_banner_wrapper
	{
		margin-top: 2em;
		overflow: hidden;
		background: #FFF;
	}

	.sub_banner
	{
		padding: 1em 1em 1em 1em;
		border-radius: 6px;
		text-align: center;
		width: 22em;
		margin-left: auto;
		margin-right: auto;
		transition-property: width;
		transition-duration: .3s;
	}

	.sub_banner .byline
	{
		color: #1793d1;
		font-family: 'PT Sans', sans-serif;
		font-size: 1.8em;
		text-align: center;
		transition-property: font-size;
		transition-duration: .8s;
	}

/*ALL POSTS PAGES*/
    #posts_wrapper a
    {
        text-decoration: none;
    }

	.post-content p
	{
		font-family: 'PT Sans', sans-serif;
	}

	#posts_wrapper .byline
	{
		color: #1793d1;
	}

	#progress
	{
		width: 1%;
		height: 1.8px;
		position: fixed;
		box-sizing: border-box;
		background: black;
		z-index: 100;
		opacity: 0;
	}

	.post h4
	{
    	margin-top: 2em;
    	text-align: center;
	}

	.post_box
	{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		transition-property: width;
		transition-duration: .5s;
		border-bottom: 1px solid #CCC;
		padding-top: 5em;
		padding-bottom: 6em;
	}

	.post_box p
	{
		font-size: 1.1em;
		line-height: 1.5em;
		text-align: justify;
		padding-bottom: 2.5em;
       	padding-top: 2.5em;
		max-width: 30.5em;
		margin-bottom: 0;
		margin-left: auto;
		margin-right:auto;
	}

	.read_on
	{
		font-family: 'PT Sans', sans-serif;
		font-size: .8em;
		color: #7D7D7D;
		float: left;
		margin-top: 1em;
		padding: 4px 13px 4px 13px;
		border: 1px solid #CCC;
		border-radius: 25px;
		transition-property: background-color,color,border-color;
		transition-duration: .5s;
	}

	.read_on:hover
	{
		background-color: rgba(23,147,209,.8);
		color: #FFF;
		border-color: #FFF;
	}

	.post_info
	{
		text-align: center;
		font-size: 1em;
	}

	.center_imgs
	{
		text-align: center;
	}

	.post_overview_img
	{
		display: block;
		margin: auto;
		max-width: 85%;
        max-height: 300px;
		margin-top: 1em;
        border-radius: 4px;
		transition-property: max-height;
		transition-duration: .3s;
	}

	.post_img
	{
		height: 90px;
		transition-property: height;
		transition-duration: .3s;
        margin-top: 2em;
		margin-bottom: 2em;
	}

	.post_img_portrait
	{
		max-width: 25%;
		padding-left: 4em;
		padding-right: 4em;
		margin-bottom: 2em;
		border-radius: 4px;

	}

    .post_img_large
    {
		transition-property: width;
		transition-duration: .5s;
        width: 55%;
		margin-bottom: 2em;
        border-radius: 4px;
    }

	.tags
	{
		background: #E0E0E0;
		border-radius: 2px;
		opacity: .7;
	}

	#archive_box
	{
		width: 60em;
		text-align: center;
		border-width: 1px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 1em;
		margin-top: 2em;
		margin-bottom: 2em;
		padding-top: 1em;
		transition-property: width;
		transition-duration: .5s;
	}

	#archive h3
	{
		font-size: 1.4em;
	}

	#archive ul li a
	{

	}

	#posts_wrapper
	{

	}

	.post
	{
		max-width: 750px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 4em;
		padding-bottom: 1.5em;
		text-align: left;
	}

	.post-header h1
	{
		margin-bottom: .1em;
	}

	.post-header
	{
		text-align: center;
                max-width: 30em;
                margin: auto;
	}

	.post_middle
	{
		text-align: center;
    	font-size: 1.2em;
    	width: 80%;
    	margin: auto;
    	display: block;
    	margin-top: 2em;
   		margin-bottom: 3em;
	}

/*Responsive resizing MEDIUM*/
@media screen and (max-width: 1250px) {

	#archive_box
	{
		width: 45em;
	}

	.post_info
	{

	}

	.post_overview_img
	{
		max-height: 240px;
	}
}

/*Responsive resizing SMALL*/
@media screen and (max-width: 1000px) {

	#wrapper #header-wrapper
	{
		background: #FFF;
	}

	#logo
	{
		display: none;
	}

	.selected a
	{
		border-bottom: solid 1px;
		border-color: white;

	}

	.button
	{
		padding: .5em 4em .5em 4em;
	}

	#banner
	{
		padding-top: 1em;
		padding-bottom: 1em;
	}

	#banner .button
	{
		padding: 1.2em 8em 1.2em 8em;
	}

	#featured
	{
		padding-left: 0;
		padding-right: 0;
	}

	.title2 .byline
	{
		padding-left:0;
		padding-right:0;
	}

	.paragraph_wrapper
	{
		width: 80%;
	}

	#footer_infos
	{
		margin-left: 1.3em;
	}

	a .CC_icons
	{
		height: 115px;
		width: auto;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		padding: 1em;
	}

	.carnival-comments
	{
		right: 0px!important;
		width: 169px!important;
		padding-top: 39px!important;
	}
}

/*Responsive resizing TEENY*/
@media screen and (max-width: 815px) {

	.container
	{
		flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		min-height: 0!important;
	}

	.container_title
	{
		flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		min-height: 21em;
	}

	.container_col
	{
		padding-left: 10%;
		padding-right: 10%;
	}

	.subline
	{
		text-align: center;
		width: 90%;
	}

	#cv p
	{
		text-align: left;
	}

	#archive_box
	{
		width: 95%;
	}

    	.next
   	{
        	opacity: 1;
    }

	.post_info
	{
		font-size: 1em;

	}

	.post_img
	{
		height: 90px;
	}

	#logo
	{
		display: none;
	}

	.selected
	{

	}

	#banner .button
	{
		padding: .3em 2em .3em 2em;
	}

	.paragraph_wrapper
	{
		width: 80%;
		padding: 1em;
	}

	#paragraph_wrapper_categories
	{
		width: 90%;
	}

	#footer_infos
	{
		margin-left: 2.3em;
	}

	a .CC_icons
	{
		height: 75px;
		width: auto;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		padding: 1em;
	}

	a .soc_icon
	{
		height: 50px;
		margin: 1.1em;
	}

	#footer #footer_cols .nav_col
	{
		margin: .4em;
	}

	#content .post
	{
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 2em;
		padding-right: 2em;
	}

	#wrapper #cv
	{
		width: 90%;
	}

	#cv .experience_img
	{
		position: absolute;
		visibility:hidden;
		opacity:0;
		transition:visibility 0s linear 0.5s,opacity 0.5s linear;
	}

	/*FORMS*/
	.form_section
	{
		width: 15em;
		min-height: 30em;
	}

	.form_sub
	{
		padding-bottom: 4em;
		width: initial;
	}

	#terminal-window
	{
		width: 90%!important;
		height: 20em;
	}

	.carnival-comments
	{
		width: 100%!important;
	}
}

/*Responsive resizing WTFTEENY*/
@media screen and (max-width: 550px) {

	.container
	{
		border-radius: 0px;
		margin-top: 32px;
		margin-bottom: 0;
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
	}

	.rest_wrapper
	{
		padding-top: 0!important;
		padding-bottom: 0!important;
	}

	#posts_wrapper
	{
		padding-top: 2em;
		padding-bottom: 2em;
	}

	#subtitle
	{
		font-size: 1.4em;
	}

	#social_bar img
	{
		height: 35px;
	}

	#posts_wrapper .post_box
	{
		margin: 0;
		border-left: none;
		border-right: none;
		border-radius: 0;
		box-shadow: none;
		width: 100%;
	}

	#posts_wrapper #archive_box
	{
		border: none;
	}

	#post_box_wrapper
	{
		margin-top: 1em;
	}

	#credits_wrapper
	{
		padding-top: 2em;
		padding-bottom: 2em;
	}

	#credits_wrapper .container_col .container
	{
		padding-left: 0;
		padding-right: 0;
		margin-top: 0;
	}

	#names
	{
		white-space: normal;
		margin-left: 0;
		margin-top: 0;
	}

	#name_box
	{
		font-size: .7em;
	}

	.profile_img
	{
		margin-bottom: 0;
	}

	.small_show
	{
		opacity: 1;
		z-index: inherit;
	}

	.small_hide
	{
		opacity: 0;
		z-index: -2;
	}

	#menu ul li
	{
		padding: 0;
	}

	#progress
	{
		height: 3px;
	}

	.rest_wrapper
	{
		padding-top: 2em;
		padding-bottom: 2em;
		padding-left: 0;
		padding-right: 0;
	}

       .post_box p
	{
        padding-left: 1.5em;
	    padding-right: 1.5em;
    }

	.read_on
	{
		margin-left: 1.5em;
	}

	.center_imgs
	{
		text-align: center;im
	}

	.post_img
	{
		height: 65px;
	}

	.post_img_large
	{
		width: 100%;
	}

	a .CC_icons
	{
		height: 55px;
	}
}

/* CSS FOR TERMINAL */
@keyframes cursor {
	0%, 50% {
		opacity: 1;
	}

	51%, 100% {
		opacity: 0;
	}
}

#terminal-window
{
    margin: auto;
	padding-top: 1.5em;
	padding-bottom: 3.5em;
	width: 30em;
	transition-property: width;
	transition-duration: .5s;
}

#terminal,
.terminal{
	background-color: #300a24;
	color: white!important;
    background-color: #333;
    border-radius: 4px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4),0 0 0 1px #282C2C;
}

#terminal span, #terminaltitle
{
	text-align: left;
	font-size: 14px;
	line-height: 125%;
	font-family: "Hack", sans-serif;
}

#terminaltitle
{
    padding-left: .5em;
    padding-top: .3em;
	text-align: center;
}

#x
{
    float: left;
	padding-top: 1px;
}

#shelltitle
{
    display: inline-block;
	margin-left: -25px;
}

#terminal .output,
.terminal .output{
	height: 250px;
    padding: 1em;
	overflow: hidden;
}

#terminal .output .line,
.terminal .output .line{
	display: block;
	margin: 0 auto;
}

#terminal .output .line:last-child::after,
.terminal .output .line:last-child::after{
	content: "▮";

	animation-name: cursor;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-fill-mode: both;
}


#terminal [data-terminal],
.terminal [data-terminal]{
	display: none;
}

 /*CSS for Carnival*/

.carnival
{
	animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.carnival-comment-indicator
{
	z-index: 2!important;
}

.carnival-comments
{
	z-index: 2!important;
}

.commenting
{
	padding-left: 4.5em;
	transition-property: none;
	transition-duration: .5s;
}

.article
{

}
