/* GENERAL PAGE */

	html
	{
		height: 100%;
	}

	body
	{
		height: auto;
    	background: #333333;
		font-family: 'Lato', sans-serif;
		font-size: inherit;
		font-weight: 300;
		color: #404040;
		text-align: center;
	}

	#content
	{
		padding-top: 1.8em;
	}

/* MENU */

	#menu
	{
		width: 100%;
		height: 3.8em;
		overflow: hidden;
		position: fixed;
		text-align: center;
		border-bottom: 1px solid #EEE;
		transition-property: border, box-shadow, position;
		transition-duration: .35s;
		background: #FFF;
		z-index: 50;
        transition-property: opacity;
        transition-duration: .35s;
        opacity: 1;
	}

    #menu:hover
    {
        opacity: 1;
    }

	#menu ul
	{
		display: inline-block;
		position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
		list-style: none;
		transition-property:width,height,margin,padding,border,opacity,font-size,float;
		transition-duration:.35s;
	}

	#menu li
	{
		display: inline-block;
		text-align: center;
		padding: .5em;
		position: relative;
		float: left;
		border-bottom-style: solid;
		border-color: #FFFFFF;
		border-width: 1px;
		transition-property:width,height,margin,padding,border,opacity,font-size,float;
		transition-duration:.35s;
	}

	#menu li:hover
	{
		border-bottom-style: solid;
		border-bottom-color: #FFFFFF;
		border-width: 1px;
	}

	#menu li a, #menu li span
	{
		padding: .5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
	}

	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		color: 2B3F48;
	}

	#menu .current_page_item a
	{
		background: #CCCCCC;
		color: #FFF;
		border-radius: 3px;
	}

/* OVERVIEW */

/* PROFILE */

    #profile_wrapper
    {
        background: none;
        min-height: 29em;
    }

    .image_overlay
    {
        position: fixed;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(/img/stuvi.jpg);
        background-size: cover;
        background-position: center, center;
        z-index: -3;
    }

	#names
	{
		font-size: 2.5em;
		font-weight: bold;
		transition-property: font-size;
		transition-duration: .5s;
	}

	#name_box
	{
	    background-color: rgba(255, 255, 255, 0.7);;
	    padding: 2em;
		border-radius: 4px;
		z-index: -1;
		min-width: 10px;
		font-weight: 300;
	}

	#first
	{
		font-weight: bold;
		letter-spacing: 2px;
		color: #1793D1;
		padding-right: 10px;
	}

	#last
	{
		color: #2B3F48;
		font-weight: 300;
	}

	#subtitle
	{
        display: block;
		margin-left: -12px;
        color: #1E1E1E;
		font-size: 1.6em;
	}

	#profile_img
	{
		border-radius: 100px;
		height: 150px;
		transition-property:width,height,margin,padding,border,opacity,display,left;
		transition-duration:.5s;
		position: absolute;
		left: 18%;
	}

/* CONTAINERS */

	.container
	{
		display: flex;
		display:-webkit-flex;
		display:-moz-flex;
		display:-ms-flexbox;
		padding-top: 2em;
		padding-bottom: 2em;
		padding-left: .5em;
		padding-right: .5em;
		margin-top: 2.5em;
		margin-bottom: 2.5em;
		margin-left: auto;
		margin-right: auto;
		max-width: 1000px;
		border-radius: 4px;
	}

	.container_title
	{
        padding-top: 4em;
		display: flex;
		display:-webkit-flex;
		display:-moz-flex;
		display:-ms-flexbox;
		min-height: 19em;
		padding-left: 19%;
		padding-right: 19%;
        -webkit-padding-end: 19%;
        -webkit-padding-start: 19%;
		transition-property: height;
		transition-duration: .3s;
	}

	.container_col
	{
		display: flex;
		display:-webkit-flex;
		display:-moz-flex;
		display:-ms-flexbox;
		flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		padding-left: 20%;
		padding-right: 20%;
        -webkit-padding-end: 20%;
        -webkit-padding-start: 20%;
	}

	.container_sub
	{
	  flex-grow: 1;
	  position: relative;
	  margin: auto;
	  width: 100%;
	}

	.container_center
	{
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%,-50%);
	  white-space: nowrap;
	}

/* LINES */

	.subline
	{
		width: 43em;
		margin-left: auto;
		margin-right: auto;
		text-align: justify;
	}

	.subline span
	{
		line-height: 1.7em;
	}

	.byline
	{
		text-transform: none;
		line-height: 1.5;
	}

	#banner .button
	{
		margin-top: 3em;
		background: #1793d1 !important;
		transition-property:padding;
		transition-duration:1.2s;

		/* Safari */
		-webkit-transition-property:padding;
		-webkit-transition-duration:1.2s;
		margin-right: 2.5em;
	}

	span
	{
	  font-size: 1.5em;
	  text-align: center;
	}


	h1
	{
		margin: 0;
		padding: 0;
		font-weight: 700;
		color: #253238;
	}

	h2
	{
		color: #2B3F48;
		font-family: lato;
		text-align: center;
		margin-top: .85em;
        margin-bottom: .4em;
	}

	p, ol, ul
	{
		margin-top: 0;
	}

	ol, ul
	{
		list-style-type: none;
		padding: 0;
	}

	.divider
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 75%;
		height: 7px;
	}

	.next
	{
        opacity: .85;
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-decoration: none!important;
	}

	.next:hover
	{
		text-decoration: none;
	}

	.scroll_to
	{
		padding-bottom: 2.5em;
	}

	ul.actions
	{
		text-align: center;
	}

	ul.actions li
	{
	}

	p
	{
		line-height: 180%;
		font-size: 1.2em;
	}

	a
	{
		color: inherit;
		border: none;
	}

	a:hover
	{
		text-decoration: none;
	}

	.paragraph_wrapper
	{
		text-align: justify !important;
		padding: 2em;
		width: 55%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2em;
		font-family: 'Mate', serif;
		transition-property:width;
		transition-duration:.5s;
	}

	.paragraph_wrapper p
	{
		color: #1E1E1E;
		font-size: 1.2em;
	}

/*Image Style*/

	.image
	{
		display: inline-block;
	}

	.image img
	{
		display: block;
		width: 100%;
	}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}

	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}

	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/* List Styles*/

	ul.staff
	{
		margin-bottom: 3em;
	}

	ul.staff li
	{
		display: inline-block;
	}

	ul.staff li img
	{
		width: 80%;
		border-radius: 50%;
	}

/*Button Style*/

	.button
	{
		display: inline-block;
		padding: 0em 3em;
		background: rgba(255, 255, 255, 0);
		border: 1px solid;
		border-color: rgba(0, 0, 0, 0.23);
		transition-property: border-color background;
		transition-duration: 1s;
		letter-spacing: 0.20em;
		line-height: 4em;
		text-decoration: none;
		font-family: lato;
		font-weight: 400;
		font-size: 1em;
		color: #333;
		text-align: center;
		white-space: nowrap;
		font-size: medium;
		border-radius: 2px;
	}

	.button:hover
	{
		border-color: rgb(132, 132, 132);
		background: rgb(242, 242, 242);
	}

	.button:before
	{
		display: inline-block;
		background: #FFC31F;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}

	#back_button
	{
		margin-top: 2em;
		margin-bottom: -3em;
	}

	#form_button
	{
		margin-top: 3em;
	}

	/*Forms (FormKeep from Thoughtbot)*/

	form
	{
		text-align: center;
	}

	.form_section
	{
		width: 35em;
		margin-left: auto;
		margin-right: auto;
		padding-right: 3.5em;
		padding-left: 3.5em;
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: left;
		transition-property: min-height, width;
		transition-duration: .35s;
	}

	.form_sub
	{
		width: 100%;
		height: 6.5em;
		padding-top: .5em;
		padding-bottom: .5em;
		display: inline-block;
		transition-property: padding;
		transition-duration: .35s;
	}

	.form_section span
	{
		font-size: 2em;
	}

	.form_section textarea
	{
		line-height: .5em;
		font-size: 1.3em;
		padding-left: 16px;
		padding-right: 4px;
		padding-top: 18px;
		padding-bottom: 9px;
		margin-top: 1.3em;
		width: 12em;
		resize: none;
		float: right;
		border-radius: 4px;
		white-space: nowrap;
		overflow: hidden;

	}

	.form_section img
	{
		margin-bottom: -2.5em;
		margin-right: 2em;
		height: 70px;
		padding-left: 0;
		padding-right: 0;
	}

	.form_sub .feedback_title
	{
		margin-left: auto;
		margin-right: auto;
	}

	.form_section .lginput
	{
		//specific things for large input field
	}

	.button input
	{
		background: none;
		color: white;
		font-family: lato, sans-serif;
		border: none;
	}

/* LIST BOX */

	#list_box
	{
		width: 100%;
		overflow: hidden;
		text-align: center;
		padding-bottom: 1em;
	}

	#list_box ul
	{
		display: inline-block;
		list-style: circle;
		margin-bottom: 0;
		border: 1px solid #CCCCCC;
		border-radius: 8px;
	}

	#list_box li
	{
		display: inline-block;
		text-align: center;
		padding: 1em .5em 1em .5em;
		position: relative;
		float: left;
		font-size: 1.7em;
	}

	#wrapper
	{
		width: 100%;
		position: relative;
		box-shadow: 0px 4px 15px #181818;
        margin-bottom: 17.5em;
	}

    .rest_wrapper
    {
        background: #FFF;
        padding: 2em;
    }

	#spacer
	{
		height: 17.5em;
		background-color: transparent;
	}

	#wrapper_404
	{
	min-height: 100%;
		width: 100%;
		position: relative;
		box-shadow: 0px 4px 15px #181818;
		background: #FFF;
	}

/*Logos*/

	#logo
	{
		position: absolute;
		left: 1.5em;
		top: .7em;
		transition-property: display;
		transition-duration: 1.2s;

		/* Safari */
		-webkit-transition-property: display;
		-webkit-transition-duration: 1.2s;
		margin-right: 2.5em;
	}
	#logo2
	{
		border-radius: 4px;
		height: 55px;
	}

/*Social,Contact*/

	#soc_icon_box
	{
		padding-top: 1.25em;
	}

	.soc_group
	{
		display: inline-block;
		transition-property: display;
		transition-duration: .3s;
	}

	.soc_icon
	{
		height: 100px;
		padding: 1em;
		transition-property: height;
		transition-duration: .3s;
	}

	.soc_sub
	{
		display: inline-block;
	}

/* Creative Commons */

	.CC_icons
	{
		height:125px;
		width: auto;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		padding: 1em;
		transition-property: height;
		transition-duration: .3s;
	}

	.strikeout
	{
		text-decoration: line-through;
	}

/* FOOTER*/

	#footer
	{
        display: none;
        color: rgb(43, 63, 82);
		padding-bottom: 2.5em;
		text-align: center;
		width: 100%;
		height: 200px;
		position: fixed;
		left: 0px;
		right: 0px;
		bottom: 0px;
		z-index: -1;
	}

	#footer a
	{
		text-decoration: none;
	}

	#footer a:hover
	{
		text-decoration: underline;
	}

	#footer li
	{
		margin-bottom: 2px;
	}

	#footer h4
	{
		margin-top: 0;
		margin-bottom: .5em;
	}

	#site_license
	{
		float: left;
		width: 15em;
		margin-left: 2em;
		background-color: rgba(255, 255, 255, 0.7);
		padding: 1em;
		border-radius: 4px;
	}

	.footer_icon
	{
		height: 48px;
		border-radius: 4px;
		padding: 10px;
	}

	#footer_infos
	{
		width: 100%;
		text-align: center;
	}

	#footer_cols
	{
		width: 23em;
		margin: 0 auto;
		background-color: rgba(255, 255, 255, 0.7);
		height: 186.5px;
		padding: 1em;
		border-radius: 4px;
	}

	.nav_col
	{
		float:left;
		text-align: left;
		margin-left: 1em;
		margin-right: 1em;
		font-size: 1.2em;

	}

	.nav_col h4
	{
		font-weight: bold;
	}

	.selected
	{
		font-weight: bold;
		border-top-style: solid!important;
		border-top-color: #1793d1!important;
		border-bottom-style: solid!important;
		border-bottom-color: #1793d1!important;
		border-width: 2px;
	}


/* CREDITS PAGE */

	.credit_txt
	{
		text-align: center;
		font-size: 4em;
		text-decoration: none;
		transition-property: font-size;
		transition-duration: .3s;
	}

	#credits_wrapper .container_col .container
	{
		padding-left: 10%;
		padding-right: 10%;
	}

	#credits_wrapper .container a
	{
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  white-space: nowrap;
	}

	#credits_wrapper .subline
	{
		width: initial;
	}

	#credits_wrapper .subline span
	{
		line-height: 1.3em;
	}

	.credit_img img
	{
		height: 150px;
		display: inline;
		transition-property: height;
		transition-duration: .3s;
	}

/* EXPERIENCE */

	#experience_wrapper > .byline
	{
		color: #1793D1;
	}

	.experience_img
	{
		border-radius: 100px;
		display: block;
		height: 50px;
		margin: 15px;
		transition-property:width,height,margin,padding,border,opacity,display;
		transition-duration:.99s;
	}

	#cv
	{
		border-radius: 8px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1em;
		text-align: left;
		width: 80%;
		padding: .5em;
		transition-property: width;
		transition-duration: .3s;
	}

	#cv span
	{
		font-size: 1.2em;
	}

	#cv h1
	{

	}

	#cv h2
	{
		text-decoration: underline;
	}

	#cv h3
	{
		margin-bottom: 0;
	}

	#cv p
	{
		font-size: 1.1em;
		text-align: justify;
	}

	#pumpkin
	{
		color: #fca311;
		text-decoration: none;
	}

	.BU
	{
		color: #CC0000;
		text-decoration: none;
	}

  	#orbital
	{
		color: #0E78A9;
		text-decoration: none;
	}

	#until
	{
		color: #333;
		text-decoration: none;
	}

@media screen and (max-width: 1162px) {

		.jump
		{
			margin-top: 5.8em;
		}
								}

	#hatman
	{
		position: absolute;
		top: 3em;
		left: 0em;
		height: 35em;
		width: auto;
	}

	.sub_banner_wrapper
	{
		margin-top: 2em;
		overflow: hidden;
		background: #FFFFFF;
	}

	.sub_banner
	{
		padding: 1em 1em 1em 1em;
		border-radius: 6px;
		text-align: center;
		width: 22em;
		margin-left: auto;
		margin-right: auto;
		transition-property: width;
		transition-duration: .3s;
	}

	.sub_banner .byline
	{
		color: #1793d1;
		font-family: 'Lato', sans-serif;
		font-size: 1.8em;
		text-align: center;
		transition-property: font-size;
		transition-duration: .8s;
	}

	#soc_sec
	{
	}

/*ALL POSTS PAGES*/

    #posts_wrapper a
    {
        text-decoration: none;
    }

	.post-content p
	{
		font-family: mate, serif;
	}

	#posts_wrapper .byline
	{
		color: #1793d1;
	}

	#progress
	{
		width: 1%;
		height: 1px;
		position: fixed;
		box-sizing: border-box;
		background: black;
		z-index: 100;
		opacity: 0;
	}

    .post h4
    {
        margin-top: 2em;
        text-align: center;
    }

	.post_box
	{
		width: 60em;
		margin-top: 2em;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid #CCCCCC;
		border-radius: 4px;
		background: #FFF;
		box-shadow: 0px 4px 15px rgba(204, 204, 204, 0.44);
		transition-property: width;
		transition-duration: .5s;
	}

	.post_box p
	{
		font-size: 1.05em;
		font-family: "Mate", serif;
		line-height: 1.5em;
		text-align: justify;
		padding-left: 2.5em;
		padding-right: 2.5em;
		padding-bottom: 2.5em;
        padding-top: 2em;
		margin-bottom: 0;
	}

	.post_box p a
	{
		font-size: .6em;
	}


	.post_info
	{
		font-size: .8em;
		text-align: center;
		font-family: mate, serif;
	}

	.post_info span
	{
		font-size: .9em;
	}

	.center_imgs
	{
		text-align: center;
	}

	.post_img
	{
		height: 90px;
		transition-property: height;
		transition-duration: .3s;
        margin-top: 2em;
		margin-bottom: 2em;
	}

    .post_img_large
    {
        max-width: 80%;
		margin-bottom: 2em;
        border-radius: 4px;
    }

	.tags
	{
		background: #E0E0E0;
		border-radius: 2px;
		opacity: .7;
	}

	#archive_box
	{
		width: 85%;
		text-align: center;
		border-width: 1px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 1em;
		margin-top: 2em;
		padding-top: 1em;
		border: 1px solid #CCCCCC;
		border-radius: 4px;
		margin-bottom: 2em;
	}

	#archive h3
	{
		font-size: 1.4em;
	}

	#archive ul li a
	{

	}

	#posts_wrapper
	{

	}

	/* Individual Post Pages */

	.post
	{
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 1em;
		padding-bottom: 2.5em;
		padding-left: 4em;
		padding-right: 4em;
		text-align: left;
	}

	.post-header h1
	{
		margin-bottom: .1em;
	}

	.post-header
	{
		text-align: center;
	}

/*Responsive resizing MEDIUM*/

@media screen and (max-width: 1250px) {

	#posts_wrapper .post_box
	{
		width: 35em;
	}

	.post_info
	{

	}

							}
/*END MEDIUM*/

/*Responsive resizing SMALL*/

@media screen and (max-width: 1000px) {


	#wrapper #header-wrapper
	{
		background: #FFFFFF;
	}

	.posts_wrapper .post_box
	{
		width: 40em;
	}

	#profile_img
	{
		height: 120px;
		left: 11%;
	}

	#logo
	{
		display: none;
	}

	.selected a
	{
		border-bottom: solid 1px;
		border-color: white;

	}

	.button
	{
		padding: .5em 4em .5em 4em;
	}

	#banner
	{
		padding-top: 1em;
		padding-bottom: 1em;
	}

	#banner .button
	{
		padding: 1.2em 8em 1.2em 8em;
	}

	#featured
	{
		padding-left: 0;
		padding-right: 0;
	}

	.title2 .byline
	{
		padding-left:0;
		padding-right:0;
	}

	.paragraph_wrapper
	{
		width: 80%;
	}

	#hatman
	{
		margin-top: 3em;
	}

	/*#footer
	{
		font-size: .8em;
	}*/

	#footer_infos
	{
		margin-left: 1.3em;
	}

	#footer_cols
	{
		display: none;
	}

	a .CC_icons
	{
		height: 115px;
		width: auto;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		padding: 1em;
	}

	#footer #site_license
	{
		float: none;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
	}

									}

/*END SMALL*/

/*Responsive resizing TEENY*/

@media screen and (max-width: 815px) {

	.container
	{
		flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
	}

	.container_title
	{
		flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		min-height: 21em;
	}

	.container_col
	{
		padding-left: 10%;
		padding-right: 10%;
	}

	#profile_img
	{
		height: 90px;
	}

	.subline
	{
		text-align: center;
		width: 90%;
	}

	#cv p
	{
		text-align: left;
	}

	#posts_wrapper .post_box
	{
		width: 95%;
		border: 1px solid #CCCCCC;
		border-radius: 4px;
		margin-bottom: 1em;
		background: #FFF;
		box-shadow: 0px 4px 15px rgba(204, 204, 204, 0.44);
		margin-right: 2.5%;
		margin-left: 2.5%;
	}

    .next
    {
        opacity: 1;
    }

	.post_info
	{
		font-size: .8em;

	}

	.post_img
	{
		height: 90px;
	}

    .post_img_large
    {
        max-width: 95%;
    }

	#logo
	{
		display: none;
	}

	.selected
	{

	}

	#banner .button
	{
		padding: .3em 2em .3em 2em;
	}

	.paragraph_wrapper
	{
		width: 80%;
		padding: 1em;
	}

	#paragraph_wrapper_categories
	{
		width: 90%;
	}

	#hatman
	{
		margin-top: 0em;
	}

	#footer
	{
		font-size: .8em;
	}

	#footer_infos
	{
		margin-left: 3.3em;
	}

	a .CC_icons
	{
		height: 75px;
		width: auto;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		padding: 1em;
	}

	a .soc_icon
	{
		height: 75px;
		padding: 1.1em;
	}

	#footer #site_license
	{
		margin-left: 0;
	}

	#footer #footer_cols .nav_col
	{
		margin: .4em;
	}

	#content .post
	{
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 1em;
		padding-left: 2em;
		padding-right: 2em;
	}

	#wrapper #cv
	{
		width: 90%;
	}

	#cv .experience_img
	{
		position: absolute;
		visibility:hidden;
		opacity:0;
		transition:visibility 0s linear 0.5s,opacity 0.5s linear;
	}

	/*FORMS*/
	.form_section
	{
		width: 15em;
		min-height: 30em;
	}

	.form_sub
	{
		padding-bottom: 4em;
	}

	#terminal-window
	{
		width: 90%!important;
		height: 20em;
	}

							}

/*END TEENY*/


/*Responsive resizing WTFTEENY*/

@media screen and (max-width: 435px) {

    .container_title
    {
        padding-top: 3em;
    }

    .container
    {
	margin-left: 10px;
	margin-right: 10px;
    }

	#names
	{
		white-space: normal;
		margin-left: 0;
	}

	#name_box
	{
		font-size: .7em;
	}

	#profile_img
	{
		height: 70px;
		left: 7%;
	}

	#menu ul li
	{
		padding: 0;
	}

	#progress
	{
		height: 3px;
	}

	.rest_wrapper
	{
		padding-top: 2em;
		padding-bottom: 2em;
		padding-left: 0;
		padding-right: 0;
	}

     .post_box p
	{
        padding-left: .6em;
        padding-right: .6em;
    }

	.center_imgs
	{
		text-align: center;im
	}

	.post_img
	{
		height: 65px;
	}

	#footer #footer_cols .nav_col
	{
		display: none;
	}

	a .CC_icons
	{
		height: 55px;
	}
							}
/* END WTFTEENY */


/* CSS FOR TERMINALS */
@keyframes cursor {
	0%, 50% {
		opacity: 1;
	}

	51%, 100% {
		opacity: 0;
	}
}

#terminal-window
{
    margin: auto;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	width: 30em;
	transition-property: width;
	transition-duration: .5s;
}

#terminal,
.terminal{
	background-color: #300a24;
	color: white!important;
    background-color: #333;
    border-radius: 4px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4),0 0 0 1px #282C2C;
}

#terminal span, #terminaltitle
{
	text-align: left;
	font-size: 14px;
	line-height: 125%;
	font-family: "Hack", mono;
}

#terminaltitle
{
    padding-left: .5em;
    padding-top: .3em;
}

#x
{
    color: #D7434A;
	padding-left:2px;
}

#shelltitle
{
    display: inline-block;
}

#terminal .output,
.terminal .output{
	height: 250px;
    padding: 1em;
	overflow: hidden;
}

#terminal .output .line,
.terminal .output .line{
	display: block;
	margin: 0 auto;
}

#terminal .output .line:last-child::after,
.terminal .output .line:last-child::after{
	content: "▮";

	animation-name: cursor;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-fill-mode: both;
}


#terminal [data-terminal],
.terminal [data-terminal]{
	display: none;
