---
layout: master
title: Austin Small &middot; Software Engineer
---

<style>
{% include about_select.css %}
</style>

<div id="profile_wrapper">
    <div class="container_resize">
        <div class="container_sub">
            <div id="name_box" class="container_center">
                <img class="profile_img small_show" src="/img/me.jpg" alt="Me"/>
                <div id="names">
                    <span id="first">Austin</span><span id="last">Small</span>
                </div>
                <div id="role">
                    Firmware Engineer
                </div>
                <span id="subtitle" class="byline"></span>
                <div id="social_bar">
	            <a href="//github.com/asmalldev" target="blank"><img class="soc_icon" src="/img/soc_icons/github.png" alt="asmalldev on github"></a>
                    <a href="mailto:asmalldev@gmail.com"><img class="soc_icon" src="/img/soc_icons/email.png" alt="email"></a>
                    <a href="//twitter.com/asmalldev" target="blank"><img class="soc_icon" src="/img/soc_icons/twitter.png" alt="asmalldev on twitter"></a>
                    <a href="//www.linkedin.com/in/johnaustinsmall" target="blank"><img class="soc_icon" src="/img/soc_icons/linkedin.png" alt="asmalldev on linkedin"></a>
                </div>
            </div>
        </div>
        <a id="scroll_down" href="javascript:;"><img class="blinker" src="/img/down_arrow_light.svg" height="60" alt=""></a>
        <div class="scroll_intro"></div>
    </div>
</div>

<div class="rest_wrapper">
    <div id="experience_container">
        <div class="container_sub">
            {% include cv.html %}
        </div>
        <a href="{{site.baseurl}}/assets/docs/Resume.pdf" target="blank" id="resume_button" class="button">FULL RESUME</a>
    </div>

<!--scroll down button-->
<script type="text/javascript" src="/assets/javascript/scrolldown.js"></script>

<!--set height of .resize_container based on viewport ratio-->
<script type="text/javascript" src="/assets/javascript/resize.js"></script>

</div>
