---
layout: master
title: Austin Small &middot; Software Engineer
---

<style>
{% include about_select.css %}
</style>

<div id="profile_wrapper">
<div class="image_overlay"></div>
    <div class="container_title">
        <!--set height of .container_title based on viewport ratio-->
        <script type="text/javascript" src="/assets/javascript/resize.js"></script>
        <div class="container_sub">
            <div id="name_box" class="container_center">
                <img class="profile_img small_show" src="/img/me.jpg" alt="Me"/>
                <div id="names">
                    <span id="first">Austin</span><span id="last">Small</span>
                </div>
                <div id="role">
                    Software Engineer
                </div>
                <span id="subtitle" class="byline"></span>
                <div id="social_bar">
	            <a href="//github.com/asmalldev" target="blank"><img class="soc_icon" src="/img/soc_icons/github.png" alt="asmalldev on github"></a>
                    <a href="mailto:asmalldev@gmail.com"><img class="soc_icon" src="/img/soc_icons/email.png" alt="email"></a>
                    <a href="//twitter.com/asmalldev" target="blank"><img class="soc_icon" src="/img/soc_icons/twitter.png" alt="asmalldev on twitter"></a>
                    <a href="//www.linkedin.com/in/johnaustinsmall" target="blank"><img class="soc_icon" src="/img/soc_icons/linkedin.png" alt="asmalldev on linkedin"></a>
                </div>
            </div>
        </div>
        <a id="scroll_down" href="javascript:;"><img class="blinker" src="/img/down_arrow.svg" height="60" alt=""></a>
        <div class="scroll_intro"></div>
    </div>
</div>

<div class="rest_wrapper">
	<img id="profile_img_hide" class="profile_img small_hide" style="margin-bottom: -3.5em" src="/img/me.jpg" alt="Me"/>
    <div class="container" style="background: rgba(7, 163, 241, 0.23);">
        <div class="container_sub">
            <div class="paragraph_wrapper">
				<p style="padding-top: 10px;">My name is Austin. I'm a software engineer from the bay area. I focus on embedded systems and firmware.
        		</p>
				<p>This site is a <a href=/blog>blog</a>, a <a id="CVscroll" href="javascript:;">CV</a>, and a way for people to get in contact with me.
				<a href="mailto:asmalldev@gmail.com">Emailing me</a> is usually the best way to reach me.
				</p>
            </div>
        </div>
    </div>

    <div id="experience_container" class="container" style="background: rgba(255, 238, 215, 0.65);">
        <div class="container_sub">
            {% include cv.html %}
        </div>
    </div>

<!--scroll down button-->
<script type="text/javascript" src="/assets/javascript/scrolldown.js"></script>

</div>
