<div id="experience_wrapper">
    <h1>My Experience</h1>
    <div id="cv">
        <img src="/img/work-24px.svg" alt="work">
        <ul>
        <li>Embedded Systems Engineer at <a id="focal" href="http://www.focal.systems" target="_blank">Focal Systems</a>
            <br><text class="experience_detail">October 2017 - Present</text>
        </li>

        <li>Software Engineer</strong> at <a id="pumpkin" href="http://www.pumpkinspace.com" target="_blank">Pumpkin Space Systems</a>
            <br><text class="experience_detail">November 2015 - October 2017</text>
        </li>

        <li>Resident Assistant at <a class="BU" href="http://www.bu.edu" target="_blank">Boston University</a>
            <br><text class="experience_detail">September 2015 - May 2017</text>
        </li>

        <li>Intern at <a id="pumpkin" href="http://www.pumpkinspace.com" target="_blank">Pumpkin Space Systems</a>
            <br><text class="experience_detail">May 2015 - August 2015</text>
        </li>

        <li>Intern at <a id="orbital" href="http://www.orbitalinsight.com" target="_blank">Orbital Insight, Inc.</a>
            <br><text class="experience_detail">May 2014 - August 2014</text>
        </ul>
        </li>

        <img src="/img/school-24px.svg" alt="school">
        <ul>
        <li>BA in Computer Science from Boston University
            <br><text class="experience_detail">2017</text>
        <li>
        </ul>

        <img src="/img/code-24px.svg" alt="coding">
        <ul>
        <li>
        C, 
        C++, 
        Python, 
        Shell Scripting </span>
        </li>
        </ul>
    </div>
</div>
