<div id="experience_wrapper">
    <h1>My Experience</h1>
        <span class="byline">stuff that I've done before</span>
    <div id="cv">
        <h1>About</h1>
            <p>I'm a computer science student who is enthusiastic about technology and
            development, passionate about news and current events, and very
            interested in the technical aspects of these areas and others. I enjoy having many interests like photography, theatre, and community service, but programming and software development are my primary focus.
            </p>

        <h1>Work Experience</h1>
            <h3>Resident Assistant at <a class="BU" href="http://www.bu.edu/reslife" target="_blank">Boston University Residence Life, South Campus</a></h3>
            <h3>Intern at <a id="pumpkin" href="http://www.pumpkininc.com" target="_blank">Pumpkin Inc.</a></h3>
                <span>May 2015 - August 2015</span>
            <h3>Office Assistant at <a  class="BU" href="http://www.bu.edu/pardeeschool" target="">Boston University Pardee School of Global Studies</a></h3>
                <span>September 2014 - May 2015</span>

            <h3>Intern at <a id="orbital" href="http://www.orbitalinsight.com" target="_blank">Orbital Insight, Inc.</a></h3>
                <span>May 2014 - August 2014</span>

            <h3>Office Assistant at <a class="BU" href="http://www.bu.edu/pardeeschool" target="_blank">Boston University Department of International Relations</a></h3>
                <span>September 2013 - May 2014</span>

            <h3>Intern at <a id="until" href="http://www.until.org">Until There's A Cure Foundation</a></h3>
                <span>June 2012 - August 2012</span>

        <h1>Skills</h1>
            <h3>Web Development</h3>
                <span>HTML, </span>
                <span>CSS</span>

            <h3>Programming Languages</h3>
                <span>Python, </span>
                <span>Java</span>

            <h3>Operating Systems and Tools</h3>
                <ul>
                    <li>linux and command line utilities;</li>
                    <li>git version control; </li>
                    <li>spreadsheet manipulation and word processing; </li>
                    <li>a mish mosh of other software and tools; </li>
                </ul>

        <h1>Education</h1>
            <h3>Bachelor of Arts from Boston University</h3>
                <span>expected, 2017</span>

            <h3>High School Diploma from Woodside High School</h3>
                <span>2013</span>

        <h1>Interests</h1>
            <h3>Photography</h3>
                <span>take a look at some of my images (coming soon)</span>
            <h3>Hiking</h3>
            <h3>Current events</h3>

        <h1>Languages</h1>
            <h3>English</h3>
                <span>native speaker</span>
            <h3>Spanish</h3>
                <span>proficient</span>

    </div>
</div>
