<div id="experience_wrapper">
    <h1>My Experience</h1>
        <span class="byline">stuff that I've done before</span>
    <div id="cv">
        <h1>Work</h1>
            <h3>Remote Worker at <a id="pumpkin" href="http://www.pumpkininc.com" target="_blank">Pumpkin Inc.</a></h3>
                <span>November 2015 -</span>

            <h3>Resident Assistant at <a class="BU" href="http://www.bu.edu/reslife" target="_blank">Boston University Office of  Residence Life</a></h3>
                <span>August 2015 -</span>

            <h3>Intern at <a id="pumpkin" href="http://www.pumpkininc.com" target="_blank">Pumpkin Inc.</a></h3>
                <span>May 2015 - August 2015</span>

            <h3>Office Assistant at <a  class="BU" href="http://www.bu.edu/pardeeschool" target="_blank">Boston University Pardee School of Global Studies</a></h3>
                <span>September 2014 - May 2015</span>

            <h3>Intern at <a id="orbital" href="http://www.orbitalinsight.com" target="_blank">Orbital Insight, Inc.</a></h3>
                <span>May 2014 - August 2014</span>

            <h3>Office Assistant at <a class="BU" href="http://www.bu.edu/pardeeschool" target="_blank">Boston University Department of International Relations</a></h3>
                <span>September 2013 - May 2014</span>

            <h3>Intern at <a id="until" href="http://www.until.org" target="_blank">Until There's A Cure Foundation</a></h3>
                <span>June 2012 - August 2012</span>

        <h1>Education</h1>
            <h3>BA in Computer Science from Boston University</h3>
                <span>expected, 2017</span>

            <h3>High School Diploma from Woodside High School</h3>
                <span>2013</span>

                <h1>Skills</h1>
                    <h3>Programming (and Markup) Languages</h3>
                    <span>C, </span>
        	    	<span>Python, </span>
                    <span>Java, </span>
                    <span>Bash Scripting, </span>
        		    <span>x86 Assembly, </span>
                    <span>Javascript, </span>
                    <span>HTML, </span>
                    <span>CSS</span>

                    <h3>Development Tools and Software</h3>
                        <span>Linux, </span>
                        <span>Git, </span>
                        <span>Jenkins CI, </span>
                        <span>MEAN stack
                            (<a href="https://www.mongodb.org/" target="_blank" style="color: #69b241; text-decoration: none;">MongoDB</a>,
                            <a href="http://expressjs.com/" target="_blank" style="color: #259dff; text-decoration: none;">Express</a>,
                            <a href="https://angularjs.org/" target="_blank" style="color: #e62a39; text-decoration: none;">AngularJS</a>,
                            <a href="https://nodejs.org/en/" target="_blank" style="color: #72a762; text-decoration: none;">Node.js</a>)
                        </span>

                    <h3>Natural Languages</h3>
                        <span>English,</span>
                        <span>Spanish,</span>
                        <span>Arabic</span>

    </div>
</div>
<ul class="actions">
    <li style="margin-bottom: 1.5em; margin-top: 3em;"><a href="{{site.baseurl}}/assets/docs/Resume.html" target="blank" class="button">FULL RESUME</a></li>
</ul>
