<div id="profile_wrapper">
    <div class="image_overlay"></div>
    <div class="container_title">
        <!--set height of .container_title based on viewport ratio-->
        <script type="text/javascript" src="/assets/javascript/resize.js"></script>
        <div class="container_sub">
            <div id="name_box" class="container_center">
                <div id="names">
                    <span id="first">Austin</span><span id="last">Small</span>
                </div>
                <span id="subtitle" class="byline">Coding, Linux, and Miscellaneous Things</span>
                <div id="social_bar">
                <a href="http://github.com/asmalldev" target="blank"><img class="soc_icon" src="/img/soc_icons/github.png" alt="asmalldev on github"></a>
                <a href="mailto:asmalldev@gmail.com"><img class="soc_icon" src="/img/soc_icons/email.png" alt="email"></a>
                <a href="http://twitter.com/asmalldev" target="blank"><img class="soc_icon" src="/img/soc_icons/twitter.png" alt="asmalldev on twitter"></a>
                <a href="http://plus.google.com/113763132515717728023/posts" target="blank"><img class="soc_icon" src="/img/soc_icons/googleplus.png" alt="asmalldev on google plus"></a>
                </div>
            </div>

        </div>

    </div>

    <!-- <a href="#next"><img class="next" src="/img/small_arrow.svg" height="60" alt=""></a> -->
    <div class="scroll_to"></div>
</div>
