<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" type="image/png" href="{{site.baseurl}}/img/logo.png">
<meta charset="UTF-8"/>
<title>{{page.title}}</title>
<meta name="keywords" content="" />
<meta name="description" content="Austin Small's personal site" />
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Mate' rel='stylesheet' type='text/css'>
<link href="{{site.baseurl}}/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{site.baseurl}}/css/normalize.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
	<body>
		<div id="wrapper">

				<div id="header">
					<div id="menu">
							<ul>
								<li id="about"><a href="{{site.baseurl}}/">About</a></li>
								<li id="posts"><a href="{{site.baseurl}}/blog/">Posts</a></li>
								<li id="credits"><a href="{{site.baseurl}}/credits/">Credits</a></li>
							</ul>
					</div>
			</div>
			<div id="progress"></div>

			<div id="content">
			{{ content }}
			</div>
			<div id="footer">
					<div id="site_license">
						<img class="footer_icon" src="{{site.baseurl}}/img/logo2.png" alt="asmalldev"><img class="footer_icon" src="{{site.baseurl}}/img/CC_invert_small.png" alt="Creative Commons"><br> &copy; Austin Small<br><br>
						<a href="asmalldev.github.io">This Site</a> is licensed under a
						<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="blank"> Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>
					</div>
					<div id="footer_infos">
						<div id="footer_cols">
							<div class="nav_col">
								<h4>Contact</h4>
									<ul>
										<li><a href="http://github.com/asmalldev" target="blank">github</a></li>
										<li><a href="mailto:asmalldev@gmail.com">email</a></li>
										<li><a href="http://twitter.com/asmalldev" target="blank">twitter</a></li>
										<li><a href="http://plus.google.com/113763132515717728023/posts target="blank"">google+</a></li>
									</ul>
							</div>
							<div class="nav_col">
								<h4>Navigation</h4>
									<ul>
										<li><a href="{{site.baseurl}}/blog/">Posts</a></li>
										<li><a href="{{site.baseurl}}/experience/">Experience</a></li>
										<li><a href="{{site.baseurl}}/credits/">Credits</a></li>
										<li><a href="{{site.baseurl}}/">About Me</a></li>
									</ul>
							</div>
							<div class="nav_col">
								<h4>Help Me</h4>
									<ul>
										<li><a href="{{site.baseurl}}/forms/feedback.html" target="blank">feedback</a></li>
									</ul>
							</div>
						</div>
					</div>
			</div>
		</div>
</body>
</html>

<!--SCRIPTS-->

    <!--show footer script-->
    <script type="text/javascript" src="/assets/javascript/scrollshow.js"></script>
