---
layout: master
---

<!-- progress bar script -->
<script type="text/javascript" src="/assets/javascript/progress.js"></script>

<!-- carnival comments -->
<<script src="https://carnivalapp.io/sites/440/init.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
  Carnival.init({
    enabled: true,
    article_author: "Austin S.",
    article_selector: "article",
    block_selector: ":scope > p, :scope > pre",
    onNewComment: function(comment) { }
  });
});
</script>

<div class="rest_wrapper">
    <div class="post">

      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: '%B %d, %Y' }} {% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • by {{ page.meta }}{% endif %}</p>
      </header>

      <article class="post-content">
        {{ content }}
      </article>
	<div class="posts_button">
        <ul class="actions">
            <li><a href="{{site.baseurl}}/blog/index.html" class="button">BACK TO POSTS</a></li>
        </ul>
    </div>
    </div>
</div>
